<template>
    <form novalidate="true" @submit.prevent="checkForm">

        <div class="form-group">
            <label class="form-check-label">Usuario</label><br>
            <input class="form-control" v-validate="'required|min:5|max:15|usuarioNotEq'" v-model="user.usuario" type="text"
                name="usuario">
            <span class="err-val">{{ errors.first('usuario') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Contraseña</label><br>
            <input class="form-control" v-validate="'required|min:4'" v-model="user.password" type="password"
                name="password" autocomplete="off" ref="password" data-vv-as="password">
            <span class="err-val">{{ errors.first('password') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Repite la contraseña</label><br>
            <input class="form-control" type="password" name="password2"
                v-validate="'required|min:4|confirmed:password'" v-model="user.password2" autocomplete="off" data-vv-as="password2">
            <span class="err-val">{{ errors.first('password2') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Nombre</label><br>
            <input class="form-control" type="text" name="nombre" v-model="user.nombre"
                v-validate="{ required: true, regex: /^[a-zA-ZÀ-ÖØ-öø-ÿ\s\ª]+(([,. -][a-zA-ZÀ-ÖØ-öø-ÿ\s\º])?[a-zA-ZÀ-ÖØ-öø-ÿ\s\º]*)*/ }">
            <span class="err-val">{{ errors.first('nombre') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Apellidos</label><br>
            <input class="form-control" type="text" name="apellidos" v-model="user.apellidos"
                v-validate="{ required: true, regex: /^[a-zA-ZÀ-ÖØ-öø-ÿ\s\ª]+(([,. -][a-zA-ZÀ-ÖØ-öø-ÿ\s\º])?[a-zA-ZÀ-ÖØ-öø-ÿ\s\º]*)*$/ }">
            <span class="err-val">{{ errors.first('apellidos') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Código postal</label><br>
            <input class="form-control" type="text" v-model="user.postal" v-validate="'required|regex:^([0-9]+)$|max:5|min:5'"
                name="postal">
            <span class="err-val">{{ errors.first('postal') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Sexo</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" value="M" v-model="user.sexo"
                    v-validate="'required'">Hombre
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" value="F" v-model="user.sexo"
                    v-validate="'required'">Mujer
            </div><br>
            <span class="err-val">{{ errors.first('sexo') }}</span>
        </div>

        <div class="form-group">
            <label class="form-check-label">Ciclo</label><br>
            <select class="form-control">
                <option v-for="ciclo in ciclos" :key="ciclo.cod" type="checkbox" name="ciclos" v-validate="'required'"
                    :value="ciclo.cod">{{ciclo.desc}}</option>
            </select>
            <span class="err-val">{{ errors.first('ciclos') }}</span>
        </div>

        <div class="form-group">
            <label>Areas en las que está interesado</label>
            <div v-for="area in areas" :key="area.cod">
                <input v-validate="'required'" type="checkbox" class="form-check-input" v-model="user.areas"
                    name="areas" :value="area.cod">{{ area.desc }}
            </div>
            <span class="err-val">{{ errors.first('areas') }}</span>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">Condiciones</label><br>
            <input class="form-check-input" type="checkbox" name="terminos" v-validate="'required'"
                v-model="user.terminos">Acepto las condiciones
            <br><span class="err-val">{{ errors.first('terminos') }}</span>
        </div>

        <button class="btn btn-primary" type="submit">Enviar</button>
        <button class="btn btn-danger" type="submit">Reset</button>


    </form>
</template>

<script>
import APIService from './../Api/apiController';
const Api = new APIService();
import VeeValidate from 'vee-validate';

VeeValidate.Validator.extend('usuarioNotEq', {
    validate(value) {
        return Api.findUsername(value).then((response) => {
                if (response.data.length > 0) {
                    return false;
                } else {
                    return true;
                }            
                }).catch((error) => {
                alert(error);
            });
    }
});
export default {
    data: () => ({
        user: {
            areas:[],
        },
        ciclos: [
            {cod: 'smx', desc: 'Sistemas Microinformáticos y Redes'},
            {cod: 'asix', desc: 'Administración de Sistemas Informáticos y Redes'},
            {cod: 'dam', desc: 'Desarrollo de Aplicaciones Multiplataforma'},
            {cod: 'daw', desc: 'Desarrollo de Aplicaciones Web'},
        ],
        areas: [
            {cod: 'prog', desc: 'Programación'},
            {cod: 'so', desc: 'Sistemas operativos'},
            {cod: 'ofi', desc: 'Ofimática'},
            {cod: 'cld', desc: 'Cloud computing'},
            {cod: 'sec', desc: 'seguridad'},
        ]
    }),
    methods: {
      checkForm(){
        this.$validator.validateAll().then((result) => {
            if (result) { // si todo ha ido bien
                const _this = this;
                Api.addUser(this.user).then(() => {
                    _this.user= {};
                }).catch((error) => {
                    alert(error);
                });
            }
        })
        .catch((error) => {
            alert(error);
        });
      },
    },
}
</script>


<style scoped>
.err-val {
  color: red;
  font-family: 'Courier';
}
select { 
  text-align-last: center;
}
form{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
label{
  font-weight: bold;
}
button{
  margin-left:10px;
  margin-right:10px;
}
input { 
    text-align: center; 
}
.normal{
    font-weight: normal;
}

</style>
