<template>
  <div id="app">
    <h1>Formulario de usuarios</h1>
    <formulario-validate></formulario-validate>
  </div>
</template>

<script>
import FormularioValidate from './components/FormularioValidate.vue';


export default {
  name: 'app',
  components: {
    FormularioValidate
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
